<div class="header">
    <img src="assets/img/logo.svg" alt="nimble energy">
    <!--
    <div class="langswitch">
        <img src="assets/img/ico-earth.svg" class="langswitch-ico">
        <a href="{{#is lang "cs"}}en/{{/is}}index.html">{{langswitch}}</a>
    </div>
    -->
</div> 